<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BackgroundRun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA7D0B7D1E45A23F00EB1460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA7D0B961E45A23F00EB1460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA7D0BA11E45A24000EB1460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
